*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body{
  min-width: 50vw;
  min-height: 100vh;
  background-color: #0F1219;
  overflow-x: hidden;
  overflow-y: hidden;
}
header{
  position:  fixed;
  top: 0px; left: 0px; right: 0px;
  background: transparent;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.151);
  padding: 0px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  z-index: 10000;
  font-size: 30px;
  transition: 0.4s;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.logo{
  color: #13c6b4;
  font-size: 25px;
  font-family: "Pacifico", cursive;;
}
.navbar{
  font-family: "Roboto", sans-serif;
}


.home{
  font-weight: bolder;
  font-size: 30px;
}
header .navbar ul{
  list-style: none;
  justify-content: 500px space-between;
}
header .navbar ul li{
  position: relative;
  float: left;
}
header .navbar ul li a{
  font-size: 25px;
  padding: 25px;
  color: #fffbfb75;
  display: block;
}
header .navbar ul li a:hover{
  background: transparent;
  color: #13C6B3;
  padding: auto;
  
  
 

}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}
header label{
  text-decoration: underline #ffffff;
  font-size: 20px;
  cursor: pointer;
  color: #ffff;
  font-weight: bolder;
}
header .navbar ul li ul{
  display: none;
  position: absolute;
  left: 0;
  width: 170px;
  background: #0F1219;
  box-shadow: 0px 1px 0px rgb(255, 255, 255);
}
header .navbar ul li ul li ul{
  display: none;
  position: absolute;
  left: 0;
  width: 170px;
  background: #0F1219;
  box-shadow: 0px 1px 0px rgb(255, 255, 255);
}




.search-box{
  background: #0F1219;
  height: 50px;
  padding: 15px;
  border-radius: 40px;


  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-text{
  background: none;
  border: 0;
  outline: 0;

  padding: 0;
  

  font-size: 16px;

  transition: 0.4s;

  width: 0;

}
.search-box:hover > .search-text{
  width: 320px;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  height: 50px;
  padding: 15px;
  border-radius: 40px;
}














.temporada{
  transition: 1.5s;
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #ffff;
  font-size: 25px;
  top: 270px;
  left: 300px;
}
.play-botao{
  padding-top: 0;
  width: 35px;
  height: 35px;
}
.botao-play{
  z-index: 20;
  position: absolute;
  margin-top: 400px;
  margin-left: 300px;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  background: #13c6b480;
  cursor: pointer;
}
.mais-botao{
  padding-top: 0;
  width: 35px;
  height: 35px;
}
.botao-mais{
  z-index: 20;
  position: absolute;
  margin-top: 400px;
  margin-left: 400px;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  background: #13c6b479;
  border: 0;
  cursor: pointer;
}

.fundo-ciano{
  left: 0px;
  top: 450px;
  width: 1950px;
  z-index: 0;
  position: absolute;

}



#input-witcher{
  display: none;
}
.imagem-witcher{
  z-index: 10;
  top: 650px;
  left: 300px;
  position: absolute;
  width: 150px;
  height: 200px;
  cursor: pointer;
  transition: 0.7s;
}
.imagem-witcher:hover{
  top: 600px;
  width: 250px;
  height: 310px;
}
.fundo-witcher{
  z-index: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 400px;
  left: 900px;
  transition: 0.7s;
}
#input-witcher:checked ~ .fundo-witcher{
  top: 80px;
  left: 400px;
  width: 1400px;
  height: 800px;
}
.logo-witcher{
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 300px;
  top: 700px;
  transition: 1.5s;
}
#input-witcher:checked ~ .logo-witcher{
  width: 483px;
  height: 206px;
  top: 100px;
  left: 300px;
}
.titulo-the-witcher{
  margin-left: 300px;
  margin-top: 880px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: #ffff;

}
.sinopse-the-witcher{
  position: absolute;
  color: #ffffffbd;
  z-index: 0;
  font-size: 0px;
  text-align: justify;
  margin-left: 300px;
  margin-top: 500px;
  padding-right: 1150px;
}
#input-witcher:checked ~ .sinopse-the-witcher{
  font-size: 20px;
  transition: 1.5s;
}















#input-friends{
  display: none;
}
.imagem-friends{
  z-index: 10;
  top: 650px;
  left: 600px;
  position: absolute;
  width: 150px;
  height: 200px;
  cursor: pointer;
  transition: 0.7s;
}
.imagem-friends:hover{
  top: 600px;
  width: 250px;
  height: 310px;
}
.fundo-friends{
  z-index: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 400px;
  left: 900px;
  transition: 0.7s;
}
#input-friends:checked ~ .fundo-friends{
  top: 80px;
  left: 600px;
  width: 1400px;
  height: 800px;
}
.logo-friends{
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 300px;
  top: 700px;
  transition: 1.5s;
}
#input-friends:checked ~ .logo-friends{
  width: 483px;
  height: 70px;
  top: 150px;
  left: 300px;
}
.titulo-friends{
  margin-left: 600px;
  margin-top: 880px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: #ffff;

}
.sinopse-friends{
  position: absolute;
  color: #ffffffbd;
  z-index: 0;
  font-size: 0px;
  text-align: justify;
  margin-left: 300px;
  margin-top: 500px;
  padding-right: 1150px;
}
#input-friends:checked ~ .sinopse-friends{
  font-size: 20px;
  transition: 1.5s;
}
















#input-breaking{
  display: none;
}
.imagem-breaking{
  z-index: 10;
  top: 650px;
  left: 900px;
  position: absolute;
  width: 150px;
  height: 200px;
  cursor: pointer;
  transition: 0.7s;
}
.imagem-breaking:hover{
  top: 600px;
  width: 250px;
  height: 310px;
}
.fundo-breaking{
  z-index: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 400px;
  left: 900px;
  transition: 0.7s;
}
#input-breaking:checked ~ .fundo-breaking{
  top: 80px;
  left: 600px;
  width: 1400px;
  height: 800px;
}
.logo-breaking{
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 300px;
  top: 700px;
  transition: 1.5s;
}
#input-breaking:checked ~ .logo-breaking{
  width: 250px;
  height: 250px;
  top: 50px;
  left: 300px;
}
.titulo-breaking{
  margin-left: 900px;
  margin-top: 880px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: #ffff;

}
.sinopse-breaking{
  position: absolute;
  color: #ffffffbd;
  z-index: 0;
  font-size: 0px;
  text-align: justify;
  margin-left: 300px;
  margin-top: 500px;
  padding-right: 1150px;
}
#input-breaking:checked ~ .sinopse-breaking{
  font-size: 20px;
  transition: 1.5s;
}


















#input-rick{
  display: none;
}
.imagem-rick{
  z-index: 10;
  top: 650px;
  left: 1200px;
  position: absolute;
  width: 150px;
  height: 200px;
  cursor: pointer;
  transition: 0.7s;
}
.imagem-rick:hover{
  top: 600px;
  width: 250px;
  height: 310px;
}
.fundo-rick{
  z-index: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 400px;
  left: 900px;
  transition: 0.7s;
}
#input-rick:checked ~ .fundo-rick{
  top: 80px;
  left: 600px;
  width: 1400px;
  height: 800px;
}
.logo-rick{
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 300px;
  top: 700px;
  transition: 1.5s;
}
#input-rick:checked ~ .logo-rick{
  width: 440px;
  height: 140px;
  top: 120px;
  left: 300px;
}
.titulo-rick{
  margin-left: 1200px;
  margin-top: 880px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: #ffff;
}
.sinopse-rick{
  position: absolute;
  color: #ffffffbd;
  z-index: 0;
  font-size: 0px;
  text-align: justify;
  margin-left: 300px;
  margin-top: 500px;
  padding-right: 1150px;
}
#input-rick:checked ~ .sinopse-rick{
  font-size: 20px;
  transition: 1.5s;
}















#input-this-is{
  display: none;
}
.imagem-this-is{
  z-index: 10;
  top: 650px;
  left: 1500px;
  position: absolute;
  width: 150px;
  height: 200px;
  cursor: pointer;
  transition: 0.7s;
}
.imagem-this-is:hover{
  top: 600px;
  width: 250px;
  height: 310px;
}
.fundo-this-is{
  z-index: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 400px;
  left: 900px;
  transition: 0.7s;
}
#input-this-is:checked ~ .fundo-this-is{
  top: 80px;
  left: 600px;
  width: 1400px;
  height: 800px;
}
.logo-this-is{
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 300px;
  top: 700px;
  transition: 1.5s;
}
#input-this-is:checked ~ .logo-this-is{
  width: 500px;
  height: 100px;
  top: 160px;
  left: 300px;
}
.titulo-this-is{
  margin-left: 1500px;
  margin-top: 880px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: #ffff;
}
.sinopse-this-is{
  position: absolute;
  color: #ffffffbd;
  z-index: 0;
  font-size: 0px;
  text-align: justify;
  margin-left: 300px;
  margin-top: 500px;
  padding-right: 1150px;
}
#input-this-is:checked ~ .sinopse-this-is{
  font-size: 20px;
  transition: 1.5s;
}





















.rating{
  z-index: 20;
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
  width: 250px;
}
.rating>*{
  float: right;
}
.rating label{
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}
.rating label::after{
  transition: all 0.4s ease-out;
  -webkit-font-smoothing:antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 60px;
  -webkit-animation: 1s pulse ease;
  animation: 1s pulse ease;
}
.rating label:hover::after{
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.rating input{
  display: none;
}
.rating input:checked + label::after,
.rating input:checked ~ label::after{
  content: "★";
  color: #f9bf3b;
  text-shadow: 0 0 0 20px #f9bf3b;
}